* {
    box-sizing: border-box;
}

h1 {
    font-family: sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding: 3rem 0;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.imagesClass {
    width: 350px;
    border: 1px solid blue;
}

.textContainer {
    justify-content: center;
    padding: 20px;
}

@media screen and (min-width: 640px) {
    .mainContainer {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 5px;
        align-content: center;
        text-align: center;
        justify-content: center;
        gap: 2rem;
    }

    .imageAndTextContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imageContainer {
        flex-direction: row;
    }

    .textContainer {
        padding: 10px;
        align-content: center;
    }
}

.formSection {
    padding: 2rem;
}

.formContainer {
        display:flex;
        padding: 20px;
        font-family: sans-serif;
        background-color: #f6f1f1;
}

input[type=text] {
    display:flex;
    flex-wrap: wrap;
    padding: 5px;
    border: 1px solid blue;
    width: 250px;
    align-content:space-around;
}

.button {
    background-color: #bbc4cf;
    padding: 2px;
}

