* {
    box-sizing: border-box;
}

h1 {
    /*font-family: sans-serif;*/
    font-size: 1.7rem;
    text-align: center;
    padding: 3rem 0;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.imagesClass {
    width: 350px;
    border: 1px solid blue;
}

.textContainer {
    justify-content: center;
    padding: 20px;
    text-align: center;
}

form {
    width: 100%;
}

.formContainer {
    display:flex;
    padding: 20px;
    font-family: sans-serif;
    background-color: #f6f1f1;
}

input[type=text] {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    padding: 5px;
    border: 1px solid blue;
    align-content:space-around;
}

.button {
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid blue;
}

.button:hover {
    background-color: blue;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);;
}

.anchorLink {
    text-align:center;
    padding: 3rem;
    font-size: 1.3rem;
}

@media screen and (min-width: 640px) {
    .mainContainer {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 5px;
        align-content: center;
        text-align: center;
        justify-content: center;
        gap: 2rem;
    }

    .imageAndTextContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imageContainer {
        flex-direction: row;
    }

    .textContainer {
        padding: 10px;
        align-content: center;
    }
}

.formSection {
    padding: 2rem;
}
